body {
  font-family: "Ovo" !important;
}

.color {
  color: gray;
}
.color:hover {
  color: rgb(49, 104, 224) !important;
  /* transform: scale(1.05);
  transition: 1s ease-in-out; */
  font-weight: 900;
}
.profile_image {
  border: 1px solid rgb(185, 182, 182);
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}

.cart_Item {
  position: relative;
  top: -7px;
  color: rgb(45, 45, 224);
}
